@media (max-width: 1440px) {
  .nav__item {
    margin-right: 80px;
    margin-left: 0;
  }
  .nav__item--first {
    margin-left: 100px;
  }
  .header__image {
    width: 130px;
    height: 130px;
  }
  .about-us__wrapper {
    padding-left: 110px;
    margin-top: -20px;
  }
  .about-us__image img {
    width: 350px;
    height: 350px;
    padding-left: 25px;
  }
  .about-us__image::after {
    width: 150px;
    height: 150px;
    border: 14px solid #e8c300;
  }
  .our-team__image img {
    padding-right: 25px;
  }
  .book__wrapper {
    padding-left: 83px;
    padding-right: 180px;
  }
  .book__form {
    justify-content: center;
    flex-direction: column;
  }
  .book__content {
    margin-top: 45px;
    margin-left: 125px;
  }
  .book__title {
    margin-top: -4px;
    margin-left: 0;
  }
  .book__image img {
    margin-top: 65px;
  }
  .book__item,
  .book__item input {
    width: 410px;
  }
  .book__inner-text {
    position: relative;
  }
  .book__text {
    position: absolute;
    top: -555px;
    right: 178px;
  }
  .events__wrapper {
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
  }
  .events__sup-title {
    margin-left: 0;
  }
  .events__image-first {
    margin-right: 50px;
  }
  .contact__form {
    flex-direction: column;
  }
  .contact__item {
    margin: 0 0 25px;
  }
  .contact__item input,
  .contact__textarea {
    width: 100%;
  }
  .contact__textarea {
    margin: 0;
  }
  .contact__wrapper {
    flex-direction: column-reverse;
  }
  .contact__button {
    width: 100%;
    margin-bottom: 20px;
  }
  .contact__list {
    width: 100%;
  }
  .contact__text {
    max-width: 800px;
  }
}

@media (max-width: 1340px) {
  .book__wrapper {
    padding-left: 50px;
    padding-right: 150px;
  }
  .book__content {
    margin-left: 50px;
  }
  .book__text {
    right: 146px;
  }
  .specialties__content {
    margin-left: 40px;
  }
  .events__image img {
    width: 350px;
    height: 350px;
  }
  .events__image-first::before,
  .events__image-second::after {
    width: 150px;
    height: 150px;
    border: 14px solid #e8c300;
  }
  .events__title-first {
    line-height: 3;
    top: 119px;
    right: -140px;
    width: 351px;
  }
  .events__title-second {
    line-height: 3;
    top: 119px;
    right: 139px;
    width: 351px;
  }
}

@media (max-width: 1250px) {
  .nav__item {
    margin-right: 50px;
  }
  .nav__item--first {
    margin-left: 50px;
  }
  .hungry-people__title {
    font-size: 80px;
  }
  .hungry-people__title::after {
    top: 95px;
  }
  .about-us {
    padding: 75px 0;
  }
  .about-us__wrapper {
    flex-direction: column;
  }
  .about-us__title {
    margin-left: 0;
  }
  .about-us__sub-title {
    max-width: 800px;
  }
  .about-us__text {
    max-width: 800px;
  }
  .about-us__image img {
    width: 475px;
    height: 475px;
    margin-top: 20px;
  }
  .about-us__image::after {
    width: 210px;
    height: 210px;
    border: 20px solid #e8c300;
  }
  .about-us__wrapper {
    padding: 0;
  }
  .our-team__wrapper {
    flex-direction: column-reverse;
    padding-left: 0;
    padding-right: 0;
  }
  .our-team__sub-title {
    max-width: 800px;
  }
  .our-team__text {
    max-width: 800px;
  }
  .slick-slide {
    flex-direction: column-reverse;
    align-items: center;
  }
  .specialties__content {
    margin-top: 0;
    margin-left: 0;
  }
  .specialties__sup-title {
    margin-left: 0;
  }
  .specialties__sub-title {
    max-width: 800px;
  }
  .specialties__text {
    max-width: 800px;
  }
  .specialties__item {
    padding-left: 0;
    padding-right: 0;
  }
  .menu {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .contact {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .contact__title {
    line-height: 1;
    margin-top: 0;
  }
  .contact__title::after {
    top: 46px;
  }
  .nav.fixed {
    display: none;
  }
}

@media (max-width: 1200px) {
  .book__wrapper {
    padding-left: 65px;
  }
  .book__item,
  .book__item input {
    width: 320px;
  }
  .book__image img {
    width: 350px;
    height: 350px;
  }
  .book__image::after {
    width: 150px;
    height: 150px;
    border: 14px solid #e8c300;
    transform: translate(50%, -60%);
  }
  .book__image:hover::after {
    transform: translate(50%, -60%) rotateX(180deg);
  }
  .book__image img {
    margin-top: 67px;
  }
  .book__text {
    right: 84px;
    top: -146px;
  }
}

@media (max-width: 1030px) {
  .nav__item {
    margin-right: 35px;
  }
  .nav__item--eighth {
    margin-right: 50px;
  }
  .hungry-people__title {
    font-size: 70px;
  }
  .hungry-people__title::after {
    top: 82px;
  }
  .button {
    width: 190px;
  }
  .button--yellow {
    margin-top: -40px;
  }
  .button--transparent {
    margin-top: -40px;
  }
  .hungry-people__circle {
    margin-top: 120px;
  }
  .hungry-people__content {
    left: -60px;
  }
  .icons__link-first {
    right: 55px;
  }
  .icons__link-second {
    right: 51px;
  }
  .icons__link-third {
    right: 52px;
  }
  .book__wrapper {
    padding: 0;
    justify-content: center;
  }
  .book__content {
    margin-left: 0;
  }
  .book__item,
  .book__item input,
  .book__button {
    width: 500px;
  }
  .book__title {
    margin-left: -50px;
  }
  .book__image {
    display: none;
  }
  .book__image::after {
    position: static;
    width: 0;
    height: 0;
    border: none;
  }
  .book__text {
    font-size: 12px;
    font-weight: 700;
    color: #333;
    transform: rotate(90deg);
    position: absolute;
    top: -310px;
    right: -190px;
  }
  .menu__item--last {
    padding-right: 20px;
  }
  .events__image img {
    width: 250px;
    height: 250px;
  }
  .events__image-first::before,
  .events__image-second::after {
    width: 100px;
    height: 100px;
    border: 10px solid #e8c300;
  }
  .events__title-first {
    font-size: 18px;
    line-height: 2.4;
    text-align: center;
    text-indent: 0;
    top: 90px;
    right: -105px;
    width: 251px;
  }
  .events__title-second {
    font-size: 18px;
    line-height: 2.4;
    text-align: center;
    text-indent: 0;
    top: 90px;
    right: 108px;
    width: 251px;
  }
  .contact__button {
    width: 100%;
  }
}

@media (max-width: 920px) {
  .nav__item {
    margin-right: 30px;
  }
  .nav__item--first {
    margin-left: 25px;
  }
  .nav__item--eighth {
    margin-right: 25px;
  }
  .hungry-people__sup-title {
    font-size: 10px;
  }
  .hungry-people__title {
    font-size: 62px;
    margin-top: 10px;
  }
  .hungry-people__title::after {
    top: 72px;
  }
  .button--yellow,
  .button--transparent {
    margin-top: -18px;
  }
  .hungry-people__content {
    left: -94px;
    top: -90px;
  }
  .icons__link-first {
    right: 37px;
  }
  .icons__link-second {
    right: 32px;
  }
  .icons__link-third {
    right: 33px;
  }
  .icons__link-first::after {
    width: 50px;
    height: 50px;
    margin-top: -15px;
    margin-left: -33px;
  }
  .icons__link-second::after {
    width: 50px;
    height: 50px;
    margin-top: -18px;
    margin-left: -37px;
  }
  .icons__link-third::after {
    width: 50px;
    height: 50px;
    margin-top: -17px;
    margin-left: -36px;
  }
  .about-us__sub-title {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
  .about-us__text {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
  .our-team__sub-title,
  .our-team__text {
    max-width: 700px;
  }
  .specialties__sub-title,
  .specialties__text {
    max-width: 700px;
  }
  .menu__list {
    padding: 0;
    margin-left: 0;
  }
  .menu__item {
    margin-right: 75px;
  }
  .menu__item::after {
    content: '';
    right: -36px;
    transform: translateY(-50%);
  }
  .menu__content {
    padding: 52px 50px 0;
  }
  .menu__item--last {
    padding-right: 0;
    margin-right: 15px;
  }
  .contact__text {
    max-width: 700px;
  }
}

@media (max-width: 820px) {
  .hungry-people__sup-title {
    font-size: 10px;
    font-size: 12px;
    margin-top: -60px;
  }
  .hungry-people__title {
    font-size: 56px;
    margin-top: 10px;
  }
  .hungry-people__title::after {
    top: 66px;
  }
  .button {
    width: 170px;
    padding: 18px;
  }
  .button--yellow,
  .button--transparent {
    margin-top: -44px;
  }
  .hungry-people__content {
    transform: none;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  .hungry-people__content {
    top: 36px;
  }
  .icons__link-first {
    top: 100px;
    right: 62%;
    transform: translateX(-50%);
  }
  .icons__link-second {
    top: 104px;
    right: 47%;
    transform: translateX(-50%);
  }
  .icons__link-third {
    top: 100px;
    right: 34%;
    transform: translateX(-50%);
  }
  .hungry-people__circle {
    margin-top: 210px;
  }
  .about-us__image img {
    width: 350px;
    height: 350px;
    padding-left: 25px;
  }
  .about-us__image::after {
    width: 150px;
    height: 150px;
    border: 14px solid #e8c300;
  }
  .about-us__sub-title {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
  .about-us__text {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
  .our-team__image img {
    padding-right: 0;
  }
  .our-team__image img {
    width: 350px;
    height: 350px;
  }
  .our-team__image::before {
    width: 150px;
    height: 150px;
    border: 14px solid #e8c300;
  }
  .book__button {
    width: 500px;
  }
  .specialties__image img {
    width: 350px;
    height: 350px;
  }
  .specialties__image::after {
    width: 150px;
    height: 150px;
    border: 14px solid #e8c300;
  }
  .menu__item {
    margin-right: 65px;
  }
  .menu__item--last {
    margin-right: 0;
  }
  .events__wrapper {
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
  }
  .events__image-first {
    margin: 0;
    margin-bottom: 25px;
  }
  .events__image img {
    width: 350px;
    height: 350px;
  }
  .events__image-first::before,
  .events__image-second::after {
    width: 150px;
    height: 150px;
    border: 14px solid #e8c300;
  }
  .events__title-first {
    line-height: 3;
    top: 134px;
    right: -149px;
    width: 351px;
  }
  .events__title-second {
    line-height: 3;
    top: 134px;
    right: 148px;
    width: 351px;
  }
  .contact__button {
    width: 100%;
  }
  .nav {
    display: none;
  }
  .burger__button-wrapper {
    display: flex;
    margin-left: 93%;
  }
  body.block {
    overflow: hidden;
  }
}
@media (max-width: 740px) {
  .about-us__sub-title {
    max-width: 550px;
  }
  .about-us__text {
    max-width: 550px;
  }
  .our-team__sub-title {
    max-width: 550px;
  }
  .our-team__text {
    max-width: 550px;
  }
  .book__content {
    margin-top: 0;
  }
  .book__item,
  .book__item input,
  .book__button {
    width: 400px;
  }
  .specialties__sub-title,
  .specialties__text {
    max-width: 550px;
  }
  .menu__item {
    margin-right: 50px;
  }
  .menu__item::after {
    right: -22px;
  }
  .menu__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .menu__content:not(:last-child) {
    border-bottom: 2px solid rgba(51, 51, 51, 0.2);
  }
  .menu__content {
    padding: 30px 50px 30px;
  }
  .menu__content:first-child {
    padding-top: 40px;
  }
  .menu__text {
    margin-bottom: 25px;
  }
  .contact__text {
    max-width: 550px;
  }
  .contact__list {
    flex-direction: column;
    align-items: center;
  }
  .contact__list-item.contact__list-item--second {
    margin-right: 5px;
  }
  .contact__list-item--third {
    margin-right: 50px;
  }
}

@media (max-width: 680px) {
  .events__image img {
    width: 250px;
    height: 250px;
  }
  .events__image-first::before,
  .events__image-second::after {
    width: 100px;
    height: 100px;
    border: 10px solid #e8c300;
  }
  .events__title-first {
    line-height: 2.4;
    top: 90px;
    right: -105px;
    width: 251px;
  }
  .events__title-second {
    line-height: 2.4;
    top: 90px;
    right: 108px;
    width: 251px;
  }
  .events__text {
    padding: 0 20px 0 50px;
    line-height: 1.56;
  }
  .burger__button-wrapper {
    margin-left: 91%;
  }
}

@media (max-width: 620px) {
  .about-us {
    padding: 50px 50px;
  }
  .about-us__title {
    font-size: 32px;
  }
  .about-us__title::after {
    top: 46px;
  }
  .about-us__sub-title {
    font-size: 16px;
    margin-bottom: 5px;
    max-width: 450px;
  }
  .about-us__text {
    font-size: 12px;
    max-width: 450px;
  }
  .about-us__image img {
    width: 250px;
    height: 250px;
  }
  .about-us__image::after {
    width: 100px;
    height: 100px;
    border: 10px solid #e8c300;
  }
  .our-team {
    padding: 32px 50px 50px;
  }
  .our-team__title {
    font-size: 32px;
  }
  .our-team__title::after {
    top: 46px;
  }
  .our-team__sub-title {
    font-size: 16px;
    margin-bottom: -5px;
    max-width: 450px;
  }
  .our-team__text {
    font-size: 12px;
    max-width: 450px;
  }
  .our-team__image img {
    width: 250px;
    height: 250px;
  }
  .our-team__image::before {
    width: 100px;
    height: 100px;
    border: 10px solid #e8c300;
  }
  .book__wrapper {
    padding-left: 30px;
  }
  .book__title {
    font-size: 32px;
    margin-left: -60px;
  }
  .book__title::after {
    top: 44px;
  }
  .book__item,
  .book__item input,
  .book__button {
    width: 320px;
  }
  .book__text {
    right: -210px;
  }
  .book__wrapper-popup,
  .pop-up__wrapper {
    width: 400px;
    height: 200px;
  }
  .book__wrapper-popup h2,
  .pop-up__wrapper h2 {
    font-family: 'BannyRound', 'Open Sans', sans-serif;
    font-size: 32px;
  }
  .book__wrapper-popup p,
  .pop-up__wrapper p {
    font-size: 16px;
  }
  .pop-up__button {
    width: 180px;
  }
  .specialties__title {
    font-size: 32px;
  }
  .specialties__title::after {
    top: 48px;
  }
  .specialties__sub-title {
    font-size: 16px;
    max-width: 450px;
  }
  .specialties__text {
    font-size: 12px;
    max-width: 450px;
  }
  .specialties__image img {
    width: 250px;
    height: 250px;
  }
  .specialties__image::after {
    width: 100px;
    height: 100px;
    border: 10px solid #e8c300;
    transform: translate(-50%, -40%);
  }
  .specialties__image:hover::after {
    transform: translate(-50%, -40%) rotateY(180deg);
  }
  .specialties__content {
    padding-left: 50px;
    padding-right: 50px;
  }
  .menu__title {
    font-size: 32px;
    line-height: 1;
    margin-top: 0;
  }
  .menu__sub-title {
    font-size: 16px;
    max-width: 450px;
    margin-bottom: 50px;
  }
  .menu__title::after {
    top: 45px;
  }
  .menu__item {
    margin-right: 35px;
  }
  .events__title-first,
  .events__title-second {
    top: 89px;
  }
  .events__text {
    padding: 0 40px;
  }
  .contact__title {
    font-size: 32px;
  }
  .contact__title::after {
    top: 120%;
  }
  .contact__text {
    font-size: 16px;
    max-width: 550px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .contact__form,
  .contact__wrapper {
    padding: 0 50px;
  }
}

@media (max-width: 520px) {
  .hungry-people__title {
    font-size: 44px;
  }
  .hungry-people__title::after {
    top: 54px;
  }
  .button {
    width: 146px;
    padding: 16px;
  }
  .button--yellow,
  .button--transparent {
    margin-top: -36px;
  }
  .icons__link-first {
    top: 105px;
    right: 65%;
  }
  .icons__link-second {
    top: 109px;
    right: 44%;
  }
  .icons__link-third {
    top: 108px;
    right: 26%;
  }
  .hungry-people__circle {
    margin-top: 220px;
  }
  .hungry-people__content {
    line-height: 1.5;
  }
  .about-us__image img {
    width: 200px;
    height: 200px;
  }
  .about-us__image::after {
    width: 80px;
    height: 80px;
    border: 7px solid #e8c300;
  }
  .our-team__image img {
    width: 200px;
    height: 200px;
  }
  .our-team__image::before {
    width: 80px;
    height: 80px;
    border: 7px solid #e8c300;
  }
  .book__button {
    width: 320px;
  }
  .book__item,
  .book__item input,
  .book__button {
    width: 280px;
  }
  .book__wrapper-popup,
  .pop-up__wrapper {
    width: 280px;
    height: 140px;
  }
  .specialties__image img {
    width: 200px;
    height: 200px;
  }
  .specialties__image::after {
    width: 80px;
    height: 80px;
    border: 7px solid #e8c300;
  }
  .menu__sub-title {
    margin-bottom: 30px;
  }
  .menu__list {
    flex-direction: column;
    align-items: center;
  }
  .menu__item,
  .menu__item--last {
    font-size: 16px;
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
  }
  .menu__item::after {
    position: static;
  }
  .menu__content:first-child {
    margin-top: 0;
  }
  .events__image img {
    width: 200px;
    height: 200px;
  }
  .events__image-first::before,
  .events__image-second::after {
    width: 80px;
    height: 80px;
    border: 7px solid #e8c300;
  }
  .events__title-first {
    line-height: 2;
    top: 67px;
    right: -83px;
    width: 201px;
  }
  .events__title-second {
    line-height: 2;
    top: 67px;
    right: 82px;
    width: 201px;
  }
  .contact__button {
    width: 100%;
    margin-bottom: 10px;
  }
  .contact__item {
    margin: 0 0 10px;
  }
}

@media (max-width: 476px) {
  .specialties__title::after {
    top: 100%;
  }
  .burger__button-wrapper {
    margin-left: 89%;
  }
}

@media (max-width: 400px) {
  .hungry-people__title {
    font-size: 36px;
  }
  .hungry-people__title::after {
    top: 48px;
  }
  .hungry-people__circle {
    margin-top: 232px;
  }
  .button {
    width: 118px;
    padding: 14px;
  }
  .icons__link-first {
    right: 67%;
  }
  .icons__link-second {
    right: 44%;
  }
  .icons__link-third {
    right: 24%;
  }
  .about-us__image img {
    margin-left: -20px;
  }
  .our-team__image img,
  .specialties__image img {
    margin-right: -20px;
  }
  .book__wrapper {
    padding-left: 20px;
  }
  .book__item,
  .book__item input,
  .book__button {
    width: 225px;
  }
  .book__text {
    top: -295px;
    right: -220px;
  }
  .book__wrapper-popup,
  .pop-up__wrapper {
    width: 200px;
    height: 100px;
  }
  .book__wrapper-popup h2,
  .pop-up__wrapper h2 {
    margin-top: 10px;
  }
  .book__wrapper-popup p,
  .pop-up__wrapper p {
    font-size: 14px;
    margin: 5px 0 10px;
  }
  .events__image img {
    width: 160px;
    height: 160px;
  }
  .events__image-first::before,
  .events__image-second::after {
    width: 70px;
    height: 70px;
    border: 5px solid #e8c300;
  }
  .events__title-first {
    font-size: 14px;
    line-height: 1.8;
    top: 57px;
    right: -69px;
    width: 161px;
  }
  .events__title-second {
    font-size: 14px;
    line-height: 1.8;
    top: 57px;
    right: 68px;
    width: 161px;
  }
  .contact__button {
    width: 100%;
  }
  .burger__button-wrapper {
    margin-left: 87%;
  }
}
