*:focus {
  outline: 2px solid #e8c300;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* first section */

.hungry-people {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 38px;
  padding-bottom: 88px;
  background-color: #222;
  background: url(images/hungryPeople/header-bg.jpg) no-repeat;
}

.header {
  position: relative;
}

.nav {
  display: flex;
  justify-content: start;
}

.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
}

.nav__item {
  list-style: none;
  margin-right: 92px;
}

.nav__item:first-child {
  margin-left: 127px;
}

.nav__item:nth-child(4) {
  margin-right: 305px;
}

.nav__item:nth-child(5) {
  margin-right: 88px;
}

.nav__item:nth-child(6) {
  margin-right: 87px;
}

.nav__item:nth-child(7) {
  margin-right: 81px;
}

.nav__link {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__link:hover {
  color: #e8c300;
}

.header__image {
  position: absolute;
  top: -13px;
  left: 50%;
  transform: translateX(-50%);
}

.hungry-people__sup-title {
  display: flex;
  justify-content: center;
  padding-top: 267px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5em;
  color: #fff;
  text-transform: uppercase;
}

.hungry-people__title {
  font-family: 'BannyRound', 'Open Sans', sans-serif;
  font-size: 96px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  margin-top: 18px;
  position: relative;
}

.hungry-people__title::after {
  content: '';
  width: 60px;
  height: 5px;
  border-radius: 50px;
  background-color: #e8c300;
  top: 117px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.content__wrapper {
  position: relative;
}

.hungry-people__content {
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  transform: rotate(-90deg);
  left: -37px;
  top: -106px;
  position: absolute;
}

.icons__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.icons__link-first {
  position: absolute;
  top: -179px;
  right: 102px;
  outline: none;
}

.icons__link-first::after {
  content: '';
  width: 60px;
  height: 60px;
  margin-top: -21px;
  margin-left: -37px;
  border-radius: 50%;
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.icons__link-second {
  position: absolute;
  top: -96px;
  right: 99px;
  outline: none;
}

.icons__link-second::after {
  content: '';
  width: 60px;
  height: 60px;
  margin-top: -23px;
  margin-left: -41px;
  border-radius: 50%;
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.icons__link-third {
  position: absolute;
  top: -16px;
  right: 100px;
  outline: none;
}

.icons__link-third::after {
  content: '';
  width: 60px;
  height: 60px;
  margin-top: -23px;
  margin-left: -40px;
  border-radius: 50%;
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.icons__link-first:hover::after,
.icons__link-first:focus::after,
.icons__link-second:hover::after,
.icons__link-second:focus::after,
.icons__link-third:hover::after,
.icons__link-third:focus::after {
  border: 1px solid #fff;
  outline: none;
}

.buttons__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.67;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 5px;
  width: 200px;
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
  text-transform: uppercase;
}

.button:focus {
  outline: none;
}

.button--yellow {
  background-color: #e8c300;
  margin-top: -23px;
}

.button--yellow:hover,
.button--yellow:focus {
  background-color: #ffd600;
  border: 1px solid white;
}

.button--transparent {
  margin-top: -23px;
  margin-left: 40px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.button--transparent:hover,
.button--transparent:focus {
  border: 1px solid white;
}

.hungry-people__circle {
  display: block;
  text-align: center;
  margin-top: 90px;
  outline: none;
}

.hungry-people__circle:hover ellipse,
.hungry-people__circle:focus ellipse {
  fill: #e8c300;
}

/* second section */

.about-us {
  max-width: 1440px;
  margin: 0 auto;
  padding: 100px 0;
  background-color: #fff;
}

.about-us__wrapper {
  display: flex;
  justify-content: space-between;
  padding-right: 205px;
  padding-left: 95px;
  align-items: center;
}

.about-us__content {
  margin-left: 1px;
}

.about-us__title {
  font-family: 'BannyRound', 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.33;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin: 9px 0 27px 55px;
}

.about-us__title::after {
  content: '';
  width: 60px;
  height: 5px;
  border-radius: 50px;
  background-color: #e8c300;
  top: 57px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.about-us__sub-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.56;
  color: #000;
  display: block;
  text-align: center;
  max-width: 570px;
  margin-bottom: 20px;
}

.about-us__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  color: #000;
  text-align: center;
  max-width: 570px;
}

.about-us__image {
  position: relative;
}

.about-us__image img {
  border-radius: 5px;
}

.about-us__image::after {
  content: '';
  position: absolute;
  width: 210px;
  height: 210px;
  border: 20px solid #e8c300;
  border-radius: 5px;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  transition: 2.5s;
}

.about-us__image:hover::after {
  transform: translate(50%, -50%) rotate(-90deg);
}

/* third section */

.our-team {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 95px;
  background-color: #222;
  background: url(images/our-team/specialtys-bg.jpg) no-repeat;
}

.our-team__sup-title {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.5em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.our-team__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 193px;
  padding-right: 117px;
}

.our-team__image {
  position: relative;
  margin-top: 30px;
}

.our-team__image img {
  border-radius: 5px;
}

.our-team__image::before {
  content: '';
  position: absolute;
  width: 210px;
  height: 210px;
  border: 20px solid #e8c300;
  border-radius: 5px;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  transition: 2.5s;
}

.our-team__image:hover::before {
  transform: translate(-50%, -50%) rotate(90deg);
}

.our-team__content {
  margin-top: -2px;
  margin-right: -11px;
}

.our-team__title {
  font-family: 'BannyRound', 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.33;
  text-align: center;
  color: #fff;
  margin-top: 43px;
  margin-right: 8px;
  position: relative;
}

.our-team__title::after {
  content: '';
  width: 60px;
  height: 5px;
  border-radius: 50px;
  background-color: #e8c300;
  top: 57px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.our-team__sub-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.56;
  display: block;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  max-width: 570px;
}

.our-team__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  max-width: 580px;
  margin-top: 20px;
}

/* fourth section */

.book {
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px 0 30px;
  background-color: #fff;
}

.book__wrapper {
  display: flex;
  justify-content: space-between;
  padding-left: 135px;
  padding-right: 193px;
}

.book__content {
  margin-top: 98px;
}

.book__title {
  font-family: 'BannyRound', 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  margin: 19px 0 40px -70px;
  position: relative;
}

.book__title::after {
  content: '';
  width: 60px;
  height: 5px;
  border-radius: 50px;
  background-color: #e8c300;
  top: 51px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.book__form {
  display: flex;
  flex-wrap: wrap;
}

.book__item {
  display: flex;
  justify-content: space-between;
  width: 288px;
  margin: 0 0 10px;
}

.book__item input {
  font-size: 14px;
  color: rgba(51, 51, 51, 0.5);
  background-color: #e5e5e5;
  box-sizing: border-box;
  width: 277px;
  height: 60px;
  padding: 30px 20px;
  border: none;
  border-radius: 5px;
}

.book__button {
  box-sizing: border-box;
  width: 100%;
  margin-right: 68px;
  background: #e8c300;
  margin-top: 1px;
}

.book__button:hover,
.book__button:focus {
  background-color: #ffd600;
}

.book__image {
  position: relative;
  padding-top: 50px;
}

.book__image img {
  border-radius: 5px;
}

.book__image::after {
  content: '';
  position: absolute;
  width: 186px;
  height: 186px;
  border: 20px solid #e8c300;
  border-radius: 5px;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
  top: 50%;
  right: 0;
  transform: translate(50%, -40%);
  transition: 2.5s;
}

.book__image:hover::after {
  transform: translate(50%, -40%) rotateX(180deg);
}

.book__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  color: rgba(51, 51, 51, 0.5);
  margin-top: 40px;
}

.book__text span {
  font-weight: 700;
}

/* fifth section */

.specialties {
  max-width: 1440px;
  margin: 0 auto;
  padding: 32px 0 45px;
  background-color: #222;
  background: url(images/specialties/bg.jpg) no-repeat;
}

.specialties__sup-title {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.5em;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin-left: 10px;
}

.specialties__wrapper {
  display: flex;
  justify-content: space-between;
  padding-left: 205px;
  padding-right: 94px;
}

.specialties__image {
  padding-top: 30px;
  position: relative;
}

.specialties__image img {
  border-radius: 5px;
}

.specialties__image::after {
  content: '';
  position: absolute;
  width: 210px;
  height: 223px;
  border: 20px solid #e8c300;
  border-radius: 5px;
  box-shadow: 0px 0px 100px #000;
  top: 50%;
  left: 0;
  transform: translate(-50%, -45%);
  transition: 2.5s;
}

.specialties__image:hover::after {
  transform: translate(-50%, -45%) rotateY(180deg);
}

.specialties__content {
  margin-top: 116px;
  margin-left: 94px;
}

.specialties__title {
  font-family: 'BannyRound', 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  position: relative;
}

.specialties__title::after {
  content: '';
  width: 65px;
  height: 5px;
  border-radius: 50px;
  background-color: #e8c300;
  top: 57px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.specialties__sub-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.56;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  max-width: 580px;
  display: block;
}

.specialties__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  max-width: 580px;
  margin-top: 17px;
}

.specialties__circle-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.specialties__circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: tomato;
  text-align: center;
  margin-right: 20px;
  background: rgba(255, 255, 255, 0.5);
}

.specialties__circle:last-child {
  margin-right: 0;
}

.specialties__circle--active {
  background: #fff;
}

/* sixth section */

.menu {
  max-width: 1440px;
  margin: 0 auto;
  padding: 70px 0 100px;
  background-color: #fff;
}

.menu__title {
  font-family: 'BannyRound', 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.33;
  text-align-last: center;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 37px;
  position: relative;
}

.menu__title::after {
  content: '';
  width: 65px;
  height: 5px;
  border-radius: 50px;
  background-color: #e8c300;
  top: 57px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.menu__sub-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.56;
  text-align: center;
  color: #000;
  max-width: 550px;
  margin: 0 auto 65px;
  display: block;
}

.menu__list {
  display: flex;
  justify-content: center;
  margin-left: -30px;
}

.menu__item {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  list-style: none;
  color: #333;
  margin-right: 85px;
  position: relative;
}

.menu__item--last {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  list-style: none;
  color: #333;
  position: relative;
}

.menu__item::after {
  content: '';
  width: 1px;
  height: 50px;
  top: 50%;
  right: -42.5px;
  transform: translateY(-50%);
  background-color: rgba(51, 51, 51, 0.2);
  position: absolute;
  pointer-events: none;
}

.menu__wrapper {
  display: flex;
  justify-content: space-between;
}

.menu__content {
  padding: 52px 65px 0;
}

.menu__dish {
  font-family: 'BannyRound', 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  color: #333;
  margin: 0;
}

.menu__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  color: rgba(51, 51, 51, 0.5);
  margin-bottom: 36px;
  display: block;
}
